.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

@media (max-width: 500px) {
    .header_logo {
        width: 30px;
        margin: 0 10px;
        margin-top: 9px;
    }

    .header_searchInput {
        height: 6px;
        padding: 5px;
    }

    .header_searchIcon {
        padding: 2px;
        height: 10px !important;
    }

    .header_basketCount {
        margin-left: 5px;
        margin-right: 5px;
    }

    .header_optionLineOne {
        font-size: 6px;
    }

    .header_optionLineTwo {
        font-size: 8px;
        font-weight: 800;
    }
}

@media (min-width: 500px) {
    .header_logo {
        width: 100px;
        margin: 0 20px;
        margin-top: 18px;
    }

    .header_searchInput {
        height: 12px;
        padding: 10px;
    }

    .header_searchIcon {
        padding: 5px;
        height: 22px !important;
    }

    .header_basketCount {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_optionLineOne {
        font-size: 10px;
    }

    .header_optionLineTwo {
        font-size: 13px;
        font-weight: 800;
    }
}

.header_logo {
    object-fit: contain;
}

.header_optionBasket {
    display: flex;
    align-items: center;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_link {
    color: white;
    text-decoration: none;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header_search {
    display: flex;
    flex: 1;
}

.header_searchInput {
    border: none;
    width: 100%;
}

.header_searchIcon {
    background-color: #cd9042;
}
